<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:hz="http://www.hazelcast.com/schema/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.hazelcast.com/schema/spring
          http://www.hazelcast.com/schema/spring/hazelcast-spring-2.0.xsd
          ">

	<hz:hazelcast id="instance">
		<hz:config>
			<hz:group name="dev" password="dev-pass" />
			<hz:properties>
				<hz:property name="hazelcast.merge.first.run.delay.seconds">5</hz:property>
				<hz:property name="hazelcast.merge.next.run.delay.seconds">5</hz:property>
			</hz:properties>
			<hz:network port="5701" port-auto-increment="true">
				<hz:join>
					<hz:multicast enabled="true"/>
				</hz:join>
			</hz:network>
		</hz:config>
	</hz:hazelcast>

</beans>